*{ 
    box-sizing: border-box;}
@media(min-width:390px){
    body,
    html{
        height: 100%;
        margin: 0.5PX;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FEF3E2;
    }
.ihop{
display:flex;
flex-direction: row-reverse;
justify-content: space-around;
align-items: baseline;
}   
.namn{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 38px;
color:#FA812F;
background-color: black;
}
.logo{
display: flex;
justify-content: flex-start;
margin-top: 25.46px;
margin-bottom: 25.46px;
align-items: flex-start;
border-radius: 15px;
}
.ihop,.logo.namn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    background-color:black;
    
}
.nav-links{
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    color: black;
}
.navbar,.footer{
    background-color:#FA812F;
    border: black solid;
    border-radius: 4px;
}
.inne{
    display: flex;
    flex-direction: column;
        } 
        .bilder1{
            display: flex;
            justify-content:center ;
        }
        .bild{
            width: 150px;
            height: 170px;
            border: #FA812F 4px solid;
            border-radius: 4px;
            }  
        .simmning{
            font-size: 35px;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            justify-content: center;
            margin-left: 5px;
        }
        .h3{
            font-size: 3%;
        }
        .text1{
            text-align: start;
            font-size: 20px;
        }
        .footer-links { 
            display:flex;
            justify-content: space-between;
            padding: 0%;
            list-style: none;
            width: 100%;
            color: black; 
            font-size: 15px;
            text-decoration: none;  
        }  
        .footer-links li{
            margin: 0 10px;
        }
        .footer-links a{
            text-decoration: none;
            color:black;
            font-size: 15px;
        }
        .content{
            background-color: #FEF3E2;
        }
        .footer{
            border: black solid;
            
        }
        
}
@media (min-width: 1024px) {
    body,
    html{
        height: 100%;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
}
.ihop{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: #FA812F 4px solid;
    border-radius: 4px;
    background-color: #FEF3E2;
    }   
    .namn{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 58px;
    color:black;
    background-color:#FA812F;
    border-radius: 10px;
    border:black solid;
    padding-left: 10px;
    padding-right: 10px;
    
    }
    .logo{
    display: flex;
    align-items: flex-end;
    width: 65px;
    height: 65px;
    border-radius: 15px;
    border:#FA812F solid;
    }
    
    .footer,.nav-links,.footer-links li{
        font-family:'Courier New', Courier, monospace;
        font-size: 20px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 10px;
        list-style: none;
    }
    .nav-links a, .footer-links a{
        text-decoration: none;
        color:black;
        
    }
    .navbar,.footer{
        background-color:#FEF3E2;
        border-radius: 5px;
        border:#FA812F solid;
    }

        .bilder1{
            display: flex;
            justify-content:center ;
        }
        .inne{
            display: flex;
            flex-direction: column;
                } 
                .bild{
                    width: 270px;
                    height: 270px;
                    border: #FA812F 4px solid;
                    border-radius: 4px;
                    }  
                .simmning{
                    font-size: 55px;
                    text-align: center;
                    font-family: 'Courier New', Courier, monospace;
                    display: flex;
                    justify-content: center;
                    margin-left: 5px;
                }
                .h3{
                    font-size: 3%;
                }
                .text1{
                    text-align: start;
                    font-size: 20px;
                }

.footer,.footer-links li,.footer-links a{ 
        list-style: none; 
        font-size: 20px;  
        border-radius: 4px;
    }  
    
     }
    



